@import "colors/gruvbox-material.css";

* {
  all: unset;
  font-family: "Iosevka Nerd Font Propo", monospace;
}

window#waybar {
  background-color: @bg0;
  color: @fg;
  border-radius: 0 0 10px 10px;
}

#workspaces {
  margin: 0 8px;
  font-size: 0.4rem;
}

#workspaces button {
  background: @bg4;
  color: transparent;
  min-width: 16px;
  min-height: 5px;
  margin: 6px 3px;
  padding: 0;
  border-radius: 6px;
}

#workspaces button.active {
  background: @blue;
  min-width: 24px;
}

#clock,
#clock#right {
  margin: 0 15px;
  font-weight: 700;
  font-size: 1.12rem;
}

.modules-left {
  margin-left: 12px;
}

.modules-right {
  margin-right : 12px;
}
